<!--  -->
<div *ngIf="selectedItem === 'MoFPI'">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3">
        <div class="lftcolumn animate__animated animate__zoomInUp">
          <ul>
            <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
            <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
            <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
            <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
            <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
            <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
            <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
            <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 title">
        <h1 class="animate__animated animate__fadeInLeft">MOFPI</h1>

        <div class="row innercontent">
          <div class="col-sm-12 animate__animated animate__fadeInRightBig">
            <p class="text-justify">
              <img src="../../../../content/images/assets/GOVT-services/MoFPI Upper.jpg"
                class="pull-right img-responsive img-thumbnail marginlft20" alt="" />
              The Ministry of Food Processing Industries is a government
              department in India that is responsible for formulating and
              implementing policies and programs for the development and
              promotion of the food processing industry. Its main goal is to
              enhance the value of agricultural produce, minimize wastage, and
              create employment opportunities in the food processing sector.<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Schemes under MoFPI:</strong><br />
              1. Integrated Cold Chain and Value Addition Infrastructure<br />
              2. Creation/ Expansion of Food Processing and Preservation
              Capacities (Unit Scheme)<br />
              3. Infrastructure for Agro-processing Clusters<br />
              4. Food Safety and Quality Assurance Infrastructure<br />
              5. Human Resources and Institutions –Research & Development<br />
              6. Mega food parks<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Documents:</strong>
              1. Detailed Project Report<br />
              2. IT return of proprietor for past 3 years<br />
              3. Memorandum of association<br />
              4. Detailed implementation schedule for implementation of the
              HACCP/ ISO 9000/ISO22000/GMP/GHP system.<br />
              5. Audited Statement of Account for the last three years and
              detailed profile of the company indicating products being
              manufactured, their marketing and future demand.<br />
              6. Bio-Data/experience and Quotations of consultant.<br />
              7. Quotation from certification body along with complete details
              of their background, experience and projects undertaken.<br />
              8. Confirmation that certification agency is accredited by the
              Quality council of India or Food Safety and Standard Authority of
              India (FSSAI) as applicable.<br />
              9. Details of proposed plan and machinery (Item wise and cost
              wise) along with quotation duly certified by approved Charted
              Engineer (Mech.) and their relevance to HACCP / ISO22000, ISO
              9000/ GHP/GMP with full justification in support of cost claimed.
              The consultant is also require to certify the requirement and cost
              of plant and machinery.<br />
              10. Complete details of Technical Civil Work indicating item wise
              / cost wise break up and their relevance to implementation of
              Total Quality Management System with justification duly approved
              by Chartered Engineer (Civil). The consultant is also required to
              certify the cost of civil works.<br />
              11. An affidavit duly executed on non-judicial stamp paper of Rs.
              10/- or more duly notarized, affirming<br />
              12. Company has not obtained any financial assistance for
              implementation of HACCP/ ISO22000, ISO 9000/ GHP/ GMP in the past
              from MOFPI.<br />
              13. The organization has not obtained/applied for or will not
              obtain any grant/subsidy from any Ministry/Department of Central
              Govt/ GOI organization/agencies and State Govt for the same
              purpose/activity/same components.<br />
              14. Detailed implementation schedule for implementation of the
              HACCP/ ISO 9000/ISO22000/GMP/GHP system.<br />
              15. Audited Statement of Account for the last three years and
              detailed profile of the company indicating products being
              manufactured, their marketing and future demand.<br />
              16. Date of commencement of commercial production.<br />
              17. Expenditure proposed to be incurred on the project indicating
              consultant fee, fee charged by the certification agency, cost of
              plant and machinery, cost of technical civil expenses and other
              expenses related to the proposal along with corresponding sources
              of finance.<br />
              18. The consultant for implementing ISO
              9000/ISO22000/HACCP/GMP/GHP should be registered either with
              National Accreditation Board for Education and Training (NABET) or
              any Central Government Body like Bureau of Indian Standards (BIS),
              Agricultural and Processed Food Exports Development
              Authority(APEDA) etc.<br />
              19. The applicant organization is require to give an undertaking
              that the training of the employees on implementation of ISO
              9000/ISO22000/HACCP/GMP/GHP will be obtained from the
              consultant.<br />
              20. Gov Study Report (GSR) with Justification wherever
              modification of Infrastructure & Machinery is Suggested<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Application process:</strong>
              1. Creation of Detailed Project Report<br />
              2. Apply with DPR to a nationalized bank to apply for loan; comply
              with all norms of bank<br />
              3. Receive loan sanction from your nationalized bank<br />
              4. Application for subsidy with DPR + bank loan sanction+duly
              filled datasheets<br />
              5. Submit documents to State Horticulture Mission (SHM) or
              National Horticulture Board (NHB) office in your region<br />
              6. State Level Executive Committee (SLEC) recommends the project
              for implementation<br />
              7. Projects are vetted for technical compliance by the State
              Project Appraisal Committee<br />
              8. In cases where required, Project is marked to the Central
              Project Appraisal Committee (PAC)<br />
              9. PAC recommends projects to Empowered Monitoring Committee (EMCY
              Executive Committee (EC) the final authority for Centrally
              Sponsored Schemes<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Fees:</strong>
              No need to pay fee because it is centrally sponsored scheme<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Age limit:</strong>
              Above 18 years<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Educational qualification:</strong>
              At least 8th standard pass
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'MSME'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="lftcolumn animate__animated animate__zoomInUp">
          <ul>
            <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
            <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
            <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
            <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
            <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
            <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
            <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
            <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 title">
        <h1 class="animate__animated animate__fadeInLeft">MSME</h1>

        <div class="row innercontent">
          <div class="col-sm-12 animate__animated animate__fadeInRightBig">
            <p class="text-justify">
              <img src="../../../assets/GOVT-services/MSME Side Image.jpg"
                class="pull-right img-responsive img-thumbnail marginlft20" alt="" />
              MSMEs make up over 40% of India's exports, 45% of the industrial
              output, and close to 8% of the GDP of the nation. They can be
              appropriately referred to as the "Backbone of the country.<br />
              In compliance with the Micro, Small and Medium Enterprises
              Development (MSMED) Act of 2006, the Indian government has
              implemented MSME, or Micro, Small, and Medium Enterprises. These
              businesses produced, manufactured, processed, or preserved items
              and commodities as their primary business.<br />
              MSMEs play a significant role in the Indian economy and have made
              significant contributions to the socioeconomic advancement of the
              nation. It contributes to the development of the nation's rural
              and underdeveloped areas in addition to creating job
              opportunities. As to the Government's annual report for 2018–19,
              there.<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>highlighting features of new
                MSMEs:</strong><br />
              1. A feature offering MSMEs Collateral-Free Loans<br />
              2. An agreement to provide Rs. 3 lac crores in loans to MSMEs<br />
              3. A 12-month moratorium period is being offered to MSMEs.<br />
              4. MSMEs in the manufacturing and service sectors are treated as
              one entity and are given a 48-month payback tenure.<br />
              5. MSMEs are guaranteed a credit score of 100%.<br />
              6. About 45 Lac units will gain from the reclassification of
              MSMEs.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'APEDA'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="lftcolumn animate__animated animate__zoomInUp">
          <ul>
            <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
            <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
            <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
            <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
            <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
            <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
            <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
            <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 title">
        <h1 class="animate__animated animate__fadeInLeft">APEDA</h1>

        <div class="row innercontent">
          <div class="col-sm-12 animate__animated animate__fadeInRightBig">
            <p class="text-justify">
              <img src="../../../assets/GOVT-services/APEDA side.jpg"
                class="pull-right img-responsive img-thumbnail marginlft20" alt="" />
              SCHEME FOR EXTENDING FINANCIAL ASSISTANCE TO SUGAR MILLS FOR
              ENHANCEMENT AND AUGMENTATION OF ETHANOL PRODUCTION CAPACITY.<br />
              LOANS FOR FOOD PARKS AND FOOD PROCESSING UNITS IN DESIGNATED FOOD
              PARKS.<br />
             <i class="bi bi-hand-thumbs-up-fill"></i> <strong>highlighting features of new
                MSMEs:</strong><br />
              1. A feature offering MSMEs Collateral-Free Loans<br />
              2. An agreement to provide Rs. 3 lac crores in loans to MSMEs<br />
              3. A 12-month moratorium period is being offered to MSMEs.<br />
              4. MSMEs in the manufacturing and service sectors are treated as
              one entity and are given a 48-month payback tenure.<br />
              5. MSMEs are guaranteed a credit score of 100%.<br />
              6. About 45 Lac units will gain from the reclassification of
              MSMEs.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'NHB'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="lftcolumn animate__animated animate__zoomInUp">
          <ul>
            <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
            <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
            <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
            <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
            <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
            <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
            <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
            <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-9 title">
        <h1 class="animate__animated animate__fadeInLeft">NHB</h1>

        <div class="row innercontent">
          <div class="col-sm-12 animate__animated animate__fadeInRightBig">
            <p class="text-justify">
              <img src="../../../assets/GOVT-services/APEDA side.jpg"
                class="pull-right img-responsive img-thumbnail marginlft20" alt="" />
                The National Horticulture Board (NHB) was set up by the Government
                of India in 1984 as an Autonomous organization under the
                administrative control of Ministry of Agriculture and Farmers
                Welfare and registered as a society under Societies Registration
                Act with its headquarters at Gurugram. Presently, NHB has 29 field
                offices located all over the country. The broad aims and
                objectives of the Board are to develop production clusters/hubs
                for integrated Hi-tech commercial horticulture, development of
                Post-harvest and cold chain infrastructure, ensuring availability
                of quality planting material and to promote adoption of new
                technologies/tools/ techniques for Hi-tech commercial horticulture
                etc.<br />
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>Aims & Objectives of NHB Schemes:</strong><br />
              The main objectives of the NHB are to improve integrated
              development of Horticulture industry and to help in coordinating,
              sustaining the production and processing of fruits and vegetables.
              Detailed objectives of the Board are as under:-<br />
              1. Development of hi-tech commercial horticulture in identified
              belts and make such areas vibrant with horticultural activity,
              which in turn will act as hubs for development of horticulture.<br />
              2. Development of modern post-harvest management infrastructure as
              an integral part of area expansion projects or as common facility
              for cluster of projects.<br />
              3. Development of integrated, energy efficient cold chain
              infrastructure for fresh horticulture produce.<br />
              4. Popularization of identified new technologies / tools /
              techniques for commercialization / adoption, after carrying out
              technology and need assessment.<br />
              5. Assistance in securing availability of quality planting
              material by promoting setting up of scion and root stock banks /
              mother plant nurseries and carrying out accreditation / rating of
              horticulture nurseries and need based imports of planting
              material.<br />
              6. Promotion and market development of fresh horticulture
              produce.<br />
              7. Promotion of field trials of newly developed/imported planting
              materials and other farm inputs; production technology; PHM
              protocols, INM and IPM protocols and promotion of applied R&D
              programmes for commercialization of proven technology.<br />
              8. Promotion of Farm Mechanization in Horticulture through
              demonstration and its uses at farmers field level to reduce labour
              cost and increase the productivity of Horticulture crops.<br />
              9. Promotion of applied R & D for standardizing PHM protocols,
              prescribing critical storage conditions for fresh horticulture
              produce, bench marking of technical standards for cold chain
              infrastructure etc.<br />
              10. Transfer of technology to producers/farmers and service
              providers such as gardeners, nurserymen, farm level skilled
              workers, operators in cold storages, work force carrying out post
              harvest management including processing of fresh horticulture
              produce and to the master trainers.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'DAHD'">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="lftcolumn animate__animated animate__zoomInUp">
          <ul>
            <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
            <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
            <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
            <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
            <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
            <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
            <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
            <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9 title">
        <h1 class="animate__animated animate__fadeInLeft">DAHD</h1>
        <div class="row innercontent">
          <div class="col-sm-12 animate__animated animate__fadeInRightBig">
            <p class="text-justify">
              <img src="../../../assets/GOVT-services/DAHD SIDE.jpg" 
                class="pull-right img-responsive img-thumbnail marginlft20" alt="" />
                The Department of Animal Husbandry and Dairying (AH&D) is one of
              the Departments of the newly created Ministry of Fisheries, Animal
              Husbandry & Dairying vide Cabinet Secretariat's Notification
              No.1/21/7/2019-Cab dated 17.06.2019 published in eGazette
              S.O.No.1972(E). The Department of Animal Husbandry and Dairying
              (AH&D) renamed as Department of Animal Husbandry, Dairying &
              Fisheries (DADF) was one of the Departments in the Ministry of
              Agriculture and came into existence w.e.f. 1st February 1991, by
              converting two divisions of the Department of Agriculture and
              Cooperation namely Animal Husbandry and Dairy Development into a
              separate Department. The Fisheries Division of the Department of
              Agriculture and Cooperation and a part of the Ministry of Food
              Processing Industries were later transferred to this Department
              w.e.f. 10th October 1997. The Department is located at Krishi
              Bhawan, New Delhi and parts of some Divisions of the Department
              are functioning from Chanderlok Building, Janpath, New Delhi.<br />
              The Department is responsible for matters relating to livestock
              production, preservation, protection from diseases and improvement
              of stocks and dairy development, and also for matters relating to
              Delhi Milk Scheme (DMS) and National Dairy Development Board
              (NDDB).<br/>
              <i class='bx bxs-hand-right' aria-hidden="true"></i> <strong>The Department advises State Governments/Union Territories in formulation of policies and programme in
                the field of Animal Husbandry and Dairy Development. The main thrust areas are:</strong><br />
                1. Development of requisite infrastructure in States/ UTs for improving animal productivity.<br />
                2. Preservation and protection of livestock through provision of health care.<br />
                3. Strengthening of central livestock farms (Cattle, Sheep and Poultry) for development of superior
                germplasm for distribution to states.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
