<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <div class="lftcolumn animate__animated animate__zoomInUp">
        <ul>
          <li><a (click)="navigateTo('../turnkeyProjectSetup/turnkeyProjectSetup')">Turnkey Project Setup</a></li>
          <li><a (click)="navigateTo('../newProductDevelopment')">New Product Development</a></li>
          <li><a (click)="navigateTo('../licensingRegulatoryServices/mandatory/FSSAI')">Licensing & Regulatory Services</a></li>
          <li><a (click)="navigateTo('../financialServices/DPR')">Financial Services</a></li>
          <li><a (click)="navigateTo('../technicalServices')">It Enabled Food Industry</a></li>
          <li><a (click)="navigateTo('../governmentSchemas/MoFPI')">Government Schemes & Subsidy</a></li>
          <li><a (click)="navigateTo('../auditingTrainingServices/Food-Safety-Audits')">Auditing & Training Services</a></li>
          <li><a (click)="navigateTo('../valueAddedService/Monthly-Advisory-Services')">Value Added Services</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-9 title">
      <h1 class="animate__animated animate__backInDown">IT Enabled Food Industry</h1>

      <div class="row innercontent">
        <div class="col-sm-12">
          <p class="text-justify animate__animated animate__backInLeft">
            <img  src="../../../assets/GOVT-services/Technical  Services FoodCognics (1).jpg"
            class="pull-right img-responsive img-thumbnail marginlft20 animate__animated animate__zoomIn" alt="" />
          </p>

          <ul class="nolisting animate__animated animate__slideInLeft">
            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i>Traceability</li>

            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i>Food Safty
            </li>

            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i>Production Planning and Sheduling
            </li>

            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i> Least Town Time
            </li>

            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i>
              Real Time Tracking
            </li>
            <li>
              <i class='bx bxs-hand-right' aria-hidden="true"></i>
              Monitoring and Controlling Critical Parameters
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>